
/* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #003A6E;
                              }

/* active sidebar menu item */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #428BCA;
                              color:#FFFFFF;
                              }

/* sidebar menuitems */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #003A6E;
                              color: FFFFFF;
                              }

/* sidebar menuitems when mouse hover */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #0088FF;
                              color:white;
                              }
                              
                              
/* body */
.content-wrapper, .right-side {
                                background-color: #F2F9FF;
                                color : #52697D;
                                }
.box {
        border-color:#FFFFFF;
        border-radius:30px;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(139,139,139,0.7); 
        box-shadow: 5px 5px 15px 0px rgba(139,139,139,0.7);
        background-color:#428BCA!important;
}


/* primary : 1355BF, 002A6E, 0062FF , 52637D, F2F7FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity */

/* primary : 428BCA, 003A6E, 0088FF , 52697D, F2F9FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity 
00294D*/