/* main sidebar */
  .skin-blue .main-sidebar {
    background-color: #32404D;
  }

/* active sidebar menu item */
  .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
    background-color: #2D3740;
      color:#F2F9FF;
  }

/* sidebar menuitems */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #32404D;
      color: #F2F9FF;
  }

/* sidebar menuitems when mouse hover */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #2D3740;
      color:#F2F9FF;
  }


/* body */
  .content-wrapper, .right-side {
    background-color: #F2F9FF;
      color : #3D5366;
  }
.box {
  border-color:#FFFFFF;
  border-radius:10px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(114,138,158,0.4); 
  box-shadow: 5px 5px 10px 5px rgba(114,138,158,0.4);
  color:#3D5366;
}

.small-box.bg-blue{
  border-radius:10px;
  min-height: 120px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#3A73A6!important;
    color:#F2F9FF!important;
    margin-bottom: 50px;
  margin-top: 30px;
  padding:10px;
}

.small-box.bg-red{
  border-radius:10px;
  min-height: 120px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#B4D3EE!important;
  color:#A62929!important;
  margin-bottom: 50px;
  margin-top: 30px;
  padding:10px;
}

.info-box{
  border-radius:10px;
  min-height: 122px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#3A73A6!important;
  color:#F2F9FF!important;
  margin-bottom: 50px;
  margin-top: 30px;
}

.info-box-icon {
  -webkit-border-radius: 10px 0px 0px 10px;
  min-height: 122px;
  border-radius: 10px 0px 0px 10px; 
  padding-top:10px;
}

.info-box-content {
  padding-top: 15px;
}

.icon-large {
  margin:10px;
  margin-right:15px;
}

h1 {
  font-size:70px;
  margin-top:5px;
  margin-left:10px;
  font-weight: bold;
  margin-bottom:50px;
  color:#163A59;
  /*text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  */
}

h2 {
  font-size:25px;
  color : #163A59;
  font-weight : bold;
  margin-top:0px;
  margin-bottom:15px;
}

h2#mainplot_title_plot{
  display: inline-block;
  margin-right:30px;
}

.form-group.shiny-input-container.shiny-input-radiogroup.shiny-input-container-inline{
  display: inline-block;
  float:right;
  margin-right:30px;
}


#file-label{
  margin-top:20px;
}

#addres_plot{
  margin-left: auto; 
  margin-right: 5px;
  float:right;
  display: inline-block;
}

#addres_multi_plot{
  margin-left: auto; 
  margin-right: 5px;
  float:right;
  display: inline-block;
}

#ptype_plot{
  display: inline-block;
  float: left;
  margin-right:50px;
}

#ltype_plot{
  display:inline-block;
  margin-bottom:5px;
}

h2.distribution_info_hist{
  font-size:15px;
  color:#163A59;
  margin-bottom:10px;
}

.action-button{
  background-color:#228AE5;
  color:#F2F9FF;
  border-radius:10px;
  transition:0.4s;
  font-size:15px;
  float:right;
}


.action-button:focus{
  background-color:#228AE5;
  color:#F2F9FF;
}

.action-button:hover{
  background-color:#3E7CB2;
  color:#F2F9FF;
  transform: translateY(-2px);
}

.action-button:active{
  background-color:#457299!important;
  color:#F2F9FF!important;
  transition:0.1s;
}

.irs-bar{
  background-color:#B4D3EE!important;
}

.irs-from{
  background-color:#B4D3EE!important;
  color:#3D5366!important;
}

.irs-to{
  background-color:#B4D3EE!important;
  color:#3D5366!important;
}

.shiny-download-link{
  background-color:#228AE5;
  color:#F2F9FF;
  border-radius:10px;
  transition:0.4s;
  font-size:15px;
  margin:10px 10px 0px 0px;
  padding:8px 12px;
  float:right;
}


.shiny-download-link:focus{
  background-color:#228AE5;
  color:#F2F9FF;
}

.shiny-download-link:hover{
  background-color:#3E7CB2;
  color:#F2F9FF;
  transform: translateY(-2px);
}

.shiny-download-link:active{
  background-color:#457299!important;
  color:#F2F9FF!important;
  transition:0.1s;
}

#desc_download_covs{
  display:inline-block;
}


#download_pdf_covs{
  margin-top:70px!important;
}

#download_covs{
  margin-top:70px!important;
}

#desc_res{
  display:inline-block;
}


#download_pdf_res{
  margin-top:70px!important;
}

#download_res{
  margin-top:70px!important;
}

/* primary : 3A73A6, 163A59, 228AE5, 
neutral : 2D3740, 32404D, 3D5366, F2F9FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity */

/* accent -10 all : 3385CC 
   accent -20 all : 3E7CB2
   accent -30 all : 457299*/
   
   /* graph color : #B4D3EE
complimentary : #B4D3EE, #A66329, #A62929 (red) */
  