
/* primary : 3A73A6, 163A59, 228AE5, 
neutral : 2D3740, 32404D, 3D5366, F2F9FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity */  

/* main sidebar */
.skin-blue .main-sidebar {
    background-color: #3A73A6;
  }

/* active sidebar menu item */
  .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
    background-color: #163A59;
      color:#F2F9FF;
  }

/* sidebar menuitems */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #3A73A6;
      color: #F2F9FF;
  }

/* sidebar menuitems when mouse hover */
  .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #163A59;
      color:#F2F9FF;
  }


/* body */
  .content-wrapper, .right-side {
    background-color: #F2F9FF;
      color : #3D5366;
  }
.box {
  border-color:#FFFFFF;
  border-radius:30px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(114,138,158,0.4); 
  box-shadow: 5px 5px 10px 5px rgba(114,138,158,0.4); 
}

.small-box.bg-blue{
  border-radius:30px;
  min-height: 120px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#3A73A6!important;
    color:#F2F9FF!important;
    margin-bottom: 50px;
  margin-top: 30px;
  padding:10px;
}

.small-box.bg-red{
  border-radius:30px;
  min-height: 120px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#3A73A6!important;
  color:#FFB8B8!important;
  margin-bottom: 50px;
  margin-top: 30px;
  padding:10px;
}

.info-box{
  border-radius:30px;
  min-height: 120px;
  -webkit-box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  box-shadow: 7px 7px 15px 5px rgba(114,138,158,0.6); 
  background-color:#3A73A6!important;
  color:#F2F9FF!important;
  margin-bottom: 50px;
  margin-top: 30px;
}

.info-box-icon {
  -webkit-border-radius: 30px 0px 0px 30px;
  min-height: 120px;
  border-radius: 30px 0px 0px 30px; 
  padding-top:10px;
}

.info-box-content {
  padding-top: 15px;
}

.icon-large {
  margin:10px;
  margin-right:15px;
}

h1 {
  font-size:70px;
  margin-top:5px;
  margin-left:10px;
  font-weight: bold;
  font-family: cursive;
  color:#163A59;
  /*text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  */
}

.btn.action-button{
  color:#FFFFFF;
  background-color:#0C87F2;
  border-color:#0C87F2;
}

/* .btn.radiobtn{
  color:#FFFFFF;
  background-color:#0C87F2;
  border-color:#0C87F2;
} */

/* .fa.fa-filter{
  margin-top:40px!important;
}
 */
/* primary : 3A73A6, 163A59, 228AE5, 
neutral : 2D3740, 32404D, 3D5366, F2F9FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity */
  
  /* primary : 1355BF, 002A6E, 0062FF , 52637D, F2F7FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity */
  
  /* primary : 428BCA, 003A6E, 0088FF , 52697D, F2F9FF, FFFFFF
semantic : F25555 , FFB8B8, FFE3E3, FFBE1A, 997C31, FFE299
chart : 2462C7 , 28A164,F7C954, F25C5C, 2A245C
for shadow , drop oppacity 
00294D*/